* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: futura;
    background-color: #f7f7f7;
}

*::selection {
    color: #fff;
    background-color: #000;
}

body,
html {
    height: 100%;
    width: 100%;
}


/* <------------------------------NAVBAR------------------------------> */

#nav {
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 0 30px;
    background-color: #f7f7f7;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav-part-1 {
    overflow: hidden;
}

#nav #nav-part-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 10px 0;
    background-color: transparent;
}

#nav-part-2 #links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 100;
    margin-right: 30px;
    background-color: transparent;
}

#links {
    background-color: transparent;
}

#nav-part-2 #icons i {
    font-size: 18px;
    margin-right: 50px;
    font-weight: 100;
    background-color: transparent;
}

#icons {
    background-color: transparent;
}

/* <------------------------------NAVBAR------------------------------> */


/* <------------------------------PAGE-1------------------------------> */

#page-1 {
    min-height: 100vh;
    position: relative;
    padding: 0 1vw;
    padding-top: 19vh;
}

#page-1 h1 {
    font-size: 15vw;
    text-transform: uppercase;
    line-height: 15vw;
    text-align: center;
    letter-spacing: -8px;
}

#video-container {
    height: 100vh;
    background-color: gray;
    margin-top: 1vw;
    position: relative;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;
    font-size: 2vw;
    text-transform: uppercase;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    scale: 0;
}

/* <------------------------------PAGE-1-ENDS------------------------------> */


/* <------------------------------PAGE-2------------------------------> */

#page-2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 2vw;
}

#page-2 .elem {
    height: 100%;
    width: 31%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* <------------------------------PAGE-2-ENDS------------------------------> */


/* <------------------------------PAGE-3------------------------------> */

#page-3 {
    min-height: 200vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#cursor {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transform: translate(-50%, -50%), scale(0);
    background-color: aquamarine;
}

#page-3 #container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container #left {
    width: 50%;
}

#left h1 {
    font-size: 50px;
    padding: 0 20px;
}

#container #right {
    width: 50%;
}

#right p {
    font-size: 20px;
    font-weight: 200;
    padding: 0 20px;
}

.child {
    height: 60vh;
    width: 40vw;
}

.child p {
    text-align: center;
}

.child img {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#para {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

#para p {
    font-size: 10px;
}

#line {
    width: 95%;
    background-color: #000;
    height: 1px;
    margin-left: 30px;
}

/* <------------------------------PAGE-3-ENDS------------------------------> */


/* <------------------------------PAGE-4------------------------------> */

#page-4 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page-4 h1 {
    text-align: center;
    padding: 40px 200px;
    font-size: 4vw;
}

button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
}

#page-4 p {
    font-size: 10px;
}

/* <------------------------------PAGE-4-ENDS------------------------------> */


/* <------------------------------PAGE-5------------------------------> */
#page-5 {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sec-1 {
    width: 30%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

#sec-1 p {
    font-size: 10px;
    margin-bottom: 15px;
}

#sec-1 a {
    font-size: 15px;
    text-decoration: none;
    color: #000;
    font-weight: 200;
}

#sec-1 a:hover {
    color: #000000b2;
}

#sec-2 {
    height: 100%;
    width: 30%;
}

#sec-3 {
    width: 30%;
    padding: 0 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#sec-3 p {
    font-size: 10px;
    margin-bottom: 15px;
}

#sec-3 a {
    font-size: 15px;
    text-decoration: none;
    color: #000;
    font-weight: 200;
}

#sec-3 a:hover {
    color: #000000b2;
}

/* <------------------------------PAGE-5-ENDS------------------------------> */


/* <------------------------------PAGE-6------------------------------> */

#page-6 {
    min-height: 10vh;
    width: 100%;
}

#page-6 p {
    font-size: 15px;
    text-align: center;
    padding: 40px;
}

/* <------------------------------PAGE-6-ENDS------------------------------> */